<beans>
 <alternatives>
    <class>org.jbpm.kie.services.cdi.producer.DefaultUserGroupInfoProducer</class>
  </alternatives>
  <interceptors>
    <class>org.uberfire.security.server.authz.cdi.RolesInterceptor</class>
    <class>org.uberfire.security.server.authz.cdi.TraitInterceptor</class>
  </interceptors>

</beans>
